@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

body {
	background-color: #C0B283;
}

.container {
	margin-top: 5%;
}

.error {
	width: 50%;
	margin: 0 auto;
	display: flex;
}

/* base.html styles */
.navbar {
	background-color: #373737;
	margin-bottom: 0px;
	text-align: center;
}

nav {
	color: white;
}

nav ul {
	list-style: none;
}

nav li {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.5em;
}

nav a {
	color: white;
}

#navbar-text {
	color: white;
	font-size: 2em;
	text-decoration: none;
}

/* home.html styles*/
#reel {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

#reel-row {
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* profile.html styles */
.center {
	text-align: center;
}

.activity-header {
	text-decoration: underline;
}

/* movie.html styles */
.movie-title {
	text-align: center;
}

.movie-poster {
	margin: 5em;
}

.display-title {
	text-align: center;
}

.comment-header {
	text-decoration: underline;
}

/* user.html styles */
.activity-subheader {
	display: inline;
	font-weight: bold;
}

form {
	display: inline;
}

.img-responsive {
	max-width: 25%;
}

/* directors.html styles */
.card {
    width: 30rem;
    background-color: #F4F4F4;
    border: 3px solid #373737;
}

.category-header {
	font-weight: bold;
}

.card-title {
	border-bottom: 1px;
	text-align: center;
}