@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

body {
	background-color: #C0B283;
}

img {
	margin-top: 5em;
}

/* base.html styles */
.navbar {
	background-color: #373737;
	margin-bottom: 0px;
	text-align: center;
}

nav {
	color: white;
}

nav ul {
	list-style: none;
}

nav li {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.5em;
}

nav a {
	color: white;
}

#navbar-text {
	color: white;
	font-size: 2em;
	text-decoration: none;
}

/* home.html styles*/
#reel {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#reel-row {
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* movie.html styles */
.movie-title {
	text-align: center;
}

.stars {
	display: inline;
}

input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
input[type=checkbox].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;
}


input[type=checkbox].with-font ~ label:before {        
    content: "\f006";
}
input[type=checkbox].with-font:checked ~ label:before {
    content: "\f005";        
    color: #C0B283;
}

/* director.html styles */
.custom-card {
	width: 150px;
	border: 1px solid;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.custom-card-header {

}

.custom-card-main {

}

