<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %} {% endblock %} - WotT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link for fontawesome assets -->
    <link rel='stylesheet' href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- links for bootstrap assets -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <!-- nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('homePage') }}">Women of the Talkies</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('homePage') }}">Home</a></li>
            <li><a href="{{ url_for('viewMovies') }}">Movies</a></li>
            <li><a href="{{ url_for('viewDirectors') }}">Directors</a></li>
            <li><a href="{{ url_for('showUser') }}">Profile</a></li>
            {% if loggedIn == true %}
              <li><a href="{{ url_for('gdisconnect') }}"> Log Out </a></li>
            {% else %}
              <li><a href="{{ url_for('showLogin') }}"> Log In </a></li>
            {% endif %}
          </ul>
        </div><!--/.navbar-collapse -->
    </nav>
  {% block content %}{% endblock %}
  </body>
  <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
</html>
