{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
	<h1> Add a Movie to the Database </h1>
	<form action="#" method="post">
		<label for="first_name"> Director First Name: </label>
		<input type="text" class="form-control" maxlength="100" name="first_name">
		<label for="last_name"> Director Last Name: </label>
		<input type="text" class="form-control" maxlength="400" name="last_name">
		<label for="school"> Director School (choose most recent education): </label>
		<input type="text" class="form-control" name="school">
		<label for="title"> Movie Title: </label>
		<input type="text" class="form-control" maxlength="400" name="title">
		<button type="submit" class="btn btn-default" id="submit" type="submit">
		Create </button>
	</form>
</div>


{% endblock %}